/* Tags */
a {
    color: #fff;
}

html, body {
    background-size: cover;
    /* background-color: black; */
}

/* Classes */
.container {
    max-width: 100%;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
}

.main-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70vh;
    font-size: 2.5rem;
    font-weight: 500;
}

.row {
    margin: 0;
}

.TEST {
    border-style: solid;
    border-color: magenta;
}