<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    </head>

    <body>
        {% include header.html %}

        <main class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        <!-- {% include footer.html %} -->

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
        <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    </body>
</html>